@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
  background-color: #E1ECC8;
}

/* ----- NAVBAR ----- */
.navbar {
  background-color: #A0C49D;
  width: 100%;
  height: 10vh;
}
.navbar .logo a{
  float: left;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  margin: 25px 30px;
  color: black;
}

.nav-links {
  list-style: none;
  float: right;
  margin-top: 3.5vh;
  margin-right: 20px;
  padding: 0;
} 
.nav-links li {
  display: inline-block;
  margin-right: 20px;
}
.nav-links a {
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* ----- Dropdown ----- */
.dropdown {
    display: inline-block;
    position: relative;
}
button {
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #A0C49D;
}
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #fff;
}
.dropdown:hover .dropdown-options {
    display: block;
}
.dropdown-options a {
    display: block;
    padding: 1px;
    padding: 20px 30px;
}

/* ----- GALERI ----- */
.berita-container{
    text-align: center;
    margin-top: -25px;
    width: 100%;
    height: 100vh;
}
.berita-container h1 {
    font-size: 60px;
}
.berita-pict{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url(../img/berita1.png);
    width: 70%;
    height: 500px;
}
.berita-pict h2{
    font-size: 60px;
    color: #fff;
}